<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY81OtQA2knl-d3LaWsQVgqdOUqIXxl8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1044896602037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apForInterview</string>
	<key>PROJECT_ID</key>
	<string>transfer-web-370010</string>
	<key>STORAGE_BUCKET</key>
	<string>transfer-web-370010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044896602037:ios:6ed2c32462053a998d2bfc</string>
</dict>
</plist>